<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>WP2AI</title>
    <meta name="keywords" content="WP2AI" />
	  <meta name="description" content="WP2AI 是一套私有部署的智能搜索程序，它利用先进的 AI 技术，让您的 WordPress 网站拥有更强大的搜索能力。" />
    <script type="module" crossorigin src="/assets/dist/index.js?v={{ .date }}"></script>
    <link rel="stylesheet" href="/assets/dist/index.css?v={{ .date }}">
    <!-- 自定义header部分 -->
    {{ .header }}
    <!-- 自定义headder部分END -->
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>